## Base Mainsail sections without user macros.
## All operational macros now live in macros.cfg

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[pause_resume]
# recover_velocity: 50.

[display_status]

[respond]
